*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.buttons{
    position: absolute;
    margin: auto;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: red;
    border: 1px solid black;
    width: 350px;
    text-align: center;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.button{
    padding: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.932);
    animation: changeColor 10s linear infinite;
    margin: 20px;
}

.fas{
    font-size: 15px;
    animation: changeColor 10s linear infinite;
    color: blue;
    

}